In [39]:
# Import libraries
import numpy as np
import pandas as pd
from scipy.stats import chi2_contingency, binom_test

In [3]:
# Read in data file
abdata = pd.read_csv('clicks.csv')
abdata.head()

    user_id group is_purchase
0  8e27bf9a     A          No
1  eb89e6f0     A          No
2  7119106a     A          No
3  e53781ff     A          No
4  02d48cf1     A         Yes

In [6]:
# Analyse association between likeliness of making a purchase and groups
xtab = pd.crosstab(abdata.group, abdata.is_purchase)
print(xtab)

chi2, pval, dof, expected = chi2_contingency(xtab)
print(pval)

is_purchase    No  Yes
group
A            1350  316
B            1483  183
C            1583   83
2.4126213546684264e-35

Calculate necessary purchase rate for each price point ($0.99, $1.99, $4.99)

In [11]:
# Number of visits to the site in one week
num_visits = len(abdata)
print(num_visits)

# number of sales needed to reach $1000 revenue for $0.99 price point
num_sales_needed_099 = 1000 / 0.99
print(num_sales_needed_099)

# portion of weekly visitors who need to make a purchase in order to reach the $1000 goal
p_sales_needed_099 = num_sales_needed_099 / num_visits
print(p_sales_needed_099)

# number of sales needed to reach $1000 revenue for $1.99 price point
num_sales_needed_199 = 1000 / 1.99
print(num_sales_needed_199)

# portion of weekly visitors who need to make a purchase in order to reach the $1000 goal
p_sales_needed_199 = num_sales_needed_199 / num_visits
print(p_sales_needed_199)

# number of sales needed to reach $1000 revenue for $4.99 price point
num_sales_needed_499 = 1000 / 4.99
print(num_sales_needed_499)

# portion of weekly visitors who need to make a purchase in order to reach the $1000 goal
p_sales_needed_499 = num_sales_needed_499 / num_visits
print(p_sales_needed_499)

4998
1010.1010101010102
0.20210104243717691
502.51256281407035
0.10054272965467594
200.40080160320642
0.040096198800161346

In [38]:
# Test if the number of purchases from group A at $0.99 is greater than the necessary
# number of purchases from the same group and price point
samp_size_099 = np.sum(xtab.iloc[0])
sales_099 = xtab.iloc[0][1]

# Calculate the same for the other two groups
samp_size_199 = np.sum(xtab.iloc[1])
sales_199 = xtab.iloc[1][1]

samp_size_499 = np.sum(xtab.iloc[2])
sales_499 = xtab.iloc[2][1]

C:\Users\Fatemeh\AppData\Local\Temp\ipykernel_91092\4205696291.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_099 = xtab.iloc[0][1]
C:\Users\Fatemeh\AppData\Local\Temp\ipykernel_91092\4205696291.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_199 = xtab.iloc[1][1]
C:\Users\Fatemeh\AppData\Local\Temp\ipykernel_91092\4205696291.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_499 = xtab.iloc[2][1]

In [41]:
# Conduct binomial test for group A
pvalueA = binom_test(sales_099, samp_size_099, p_sales_needed_099, alternative='greater')
print(pvalueA)

# Conduct binomial test for group B
pvalueB = binom_test(sales_199, samp_size_199, p_sales_needed_199, alternative='greater')
print(pvalueB)

# Conduct binomial test for group C
pvalueC = binom_test(sales_499, samp_size_499, p_sales_needed_499, alternative='greater')
print(pvalueC)

0.9028081076188554
0.11184562623740596
0.027944826659830616

C:\Users\Fatemeh\AppData\Local\Temp\ipykernel_91092\2836142424.py:2: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  pvalueA = binom_test(sales_099, samp_size_099, p_sales_needed_099, alternative='greater')
C:\Users\Fatemeh\AppData\Local\Temp\ipykernel_91092\2836142424.py:6: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  pvalueB = binom_test(sales_199, samp_size_199, p_sales_needed_199, alternative='greater')
C:\Users\Fatemeh\AppData\Local\Temp\ipykernel_91092\2836142424.py:10: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  pvalueC = binom_test(sales_499, samp_size_499, p_sales_needed_499, alternative='greater')