In [29]:
# Import libraries
import numpy as np
import pandas as pd
from scipy.stats import binom_test, f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [4]:
# Import data
dogs = pd.read_csv('dog_data.csv')
dogs.head()

,is_rescue,weight,tail_length,age,color,likes_children,is_hypoallergenic,name,breed
0,0,6,2.25,2,black,1,0,Huey,chihuahua
1,0,4,5.36,4,black,0,0,Cherish,chihuahua
2,0,7,3.63,3,black,0,1,Becka,chihuahua
3,0,5,0.19,2,black,0,0,Addie,chihuahua
4,0,5,0.37,1,black,1,1,Beverlee,chihuahua

In [12]:
# Check if Whippets are significantly more or less likely than other dogs
# to be a rescue
whippet_rescue = dogs.is_rescue[dogs.breed == 'whippet']
num_whippet_rescues = np.sum(whippet_rescue == 1)
print(num_whippet_rescues)

num_whippets = len(whippet_rescue)
print(num_whippets)

pval = binom_test(num_whippet_rescues, num_whippets, p = 0.08)
print(pval)

6
100
0.5811780106238108

C:\Users\Fatemeh\AppData\Local\Temp\ipykernel_74536\2892383589.py:10: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  pval = binom_test(num_whippet_rescues, num_whippets, p = 0.08)

In [23]:
# Subset to just whippets, terriers, and pitbulls
dogs_wtp = dogs[dogs.breed.isin(['whippet', 'terrier', 'pitbull'])]
wt_whippets = dogs_wtp.weight[dogs_wtp.breed == 'whippet']
wt_terriers = dogs_wtp.weight[dogs_wtp.breed == 'terrier']
wt_pitbulls = dogs_wtp.weight[dogs_wtp.breed == 'pitbull']

In [31]:
# Run an ANOVA hypothesis test to check if the weights of all three breeds are the same
fstat, pval = f_oneway(wt_whippets, wt_terriers, wt_pitbulls)
print(pval)

# There is significance so we run a Tukey's Range Test
tukey_results = pairwise_tukeyhsd(dogs_wtp.weight, dogs_wtp.breed, 0.05)
print(tukey_results)

3.276415588274815e-17
  Multiple Comparison of Means - Tukey HSD, FWER=0.05
=======================================================
 group1  group2 meandiff p-adj   lower    upper  reject
-------------------------------------------------------
pitbull terrier   -13.24    0.0 -16.7278 -9.7522   True
pitbull whippet    -3.34 0.0638  -6.8278  0.1478  False
terrier whippet      9.9    0.0   6.4122 13.3878   True
-------------------------------------------------------